rtl/trng_param_pkg.sv
rtl/sbox_top.sv
rtl/addRoundKey_top.sv
rtl/cipher_top.sv
rtl/invSbox_top.sv
rtl/invAddRoundKey_top.sv
rtl/invCipher_top.sv
sim/obj_dir
sim/sim_build
sim/.cache  /
sim/dump.vcd
sim/results.xml
sim/*.log
sim/*.jou
synth/*.dot
synth/*.json
synth/*.pdf
synth/*.svg.new
synth/*.dcp
synth/*.rpt
synth/*.jou
synth/*.log
synth/*.v
synth/*.backup.*
synth/.Xil/
docs/*html
docs/*pdf
lint/*.jou
lint/*.log
lint/*.backup.*
